.menu-burger-btn {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 44px;
  height: 37px;
  background-color: $footer-background-burger-color;
  top: 36px;
  right: 0;
  & span {
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: $footer-title-burger-color;
    top: 14px;
    right: 13px;
    transform: rotate(0);
    transition: all 0.4s ease;
    transform-origin: 0 1px;
    &.active {
      transform: rotate(46deg);
      right: 11px;
      top: 10px;
    }
    &:nth-child(2) {
      top: 18px;
      &.active {
        display: none;
      }
    }
    &:nth-child(3) {
      top: 22px;
      &.active {
        transform: rotate(-46deg);
        right: 11px;
        top: 22px;
      }
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.menu-burger-list {
  display: none;
  position: absolute;
  min-width: 182px;
  top: 57px;
  right: 181px;
  background-color: $burger-menu-background;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 0;
  &.active {
    display: block;
  }
  & li {
    padding-left: 12px;
    list-style-type: none;
    &:hover {
      background-color: $burger-menu-background-hover;
    }
  }
  & li > a {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: $nav-title-color-one;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    padding-right: 20px;
  }
}


