.footer {
  background-color: $footer-background-burger-color;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}

.footer-title {
  color: $footer-title-burger-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 38px;
  &:before,
  &:after {
    content: " - ";
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-top: 60px;
  }
}

.footer-text {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 47px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 28px;
    max-width: 660px;
    margin-top: 4px;
    margin-bottom: 57px;
  }
}

.footer__icons-wrapper {
  display: flex;
  gap: 5px;
}

.footer__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 46px;
  color: $footer-text-color;
  & p {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 56px;
    & p {
      padding-left: 5px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
