.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (min-width: 767px) {
    padding: 0px 80px 0px;
  }
  @media screen and (min-width: 1190px) {
    padding: 0px 10px 0px;
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.navbar__items {
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 98px;
  @media screen and (min-width: 769px) {
    height: 0px;
    margin: 0 auto;
    display: flex;
    max-width: 800px;
    padding: 45px 40px 51px;
    justify-content: space-between;
    opacity: 1;
    list-style-type: none;
    text-transform: uppercase;
    & li > a {
      color: $nav-title-color-one;
      text-decoration: none;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
    }
    & li > a:hover {
      color: $nav-hover;
      transition: 0.3s;
    }
  }
}

.intro-image {
  margin: 0 auto;
  & img {
    width: 100%;
  }
}
