.instagram-shots-section {
  @media screen and (min-width: 767px) {
    background-color: $instagram-section-background;
  }
}

.instagram-shots-section__wrapper {
  max-width: 1200px;
  padding: 0 47px 0 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 767px) {
      padding: 0px 80px 0px;
    } 
  @media screen and (min-width: 1190px) {
      padding: 0px 10px 0px;;
  }    
}

.instagram-shots-section___text-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  & a {
    display: none;
  }
  & h2 {
    @include titles-mobile;
    padding: 38px 0 13px;
  }

  @media screen and (min-width: 767px) {
    & a {
      display: block;
      text-decoration: none;
      color: $nav-title-color-one;
      font-weight: 700;
      font-size: 13px;
      line-height: 22px;
      padding-top: 62px;
      &::after {
        content: "-";
      }
    }
    & h2 {
      @include titles-wide;
      padding: 47px 0 35px;
    }
  }
}

.instagram-shots__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 42px;
  width: 100%;
  & img {
    width: 100%;
  }
  & :nth-child(n + 2) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 50px;
    & :nth-child(-n + 3) {
      display: block;
    }
  }
  @media screen and (min-width: 1190px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    & :nth-child(n + 1) {
      display: block;
    }
  }
}


