@mixin titles-mobile {
  color: $nav-title-color-one;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px; 
  &::before {
    content: '-';
  }
}

@mixin titles-wide {
  color: $nav-title-color-one;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  &::before {
    content: '-';
  }
}