.our-recent-post-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 25px;
  @media screen and (min-width: 767px) {
    padding: 0px 80px 0px;
  }

  @media screen and (min-width: 1190px) {
    padding: 0px 10px 0px;
  }
}

.our-recent-post-section__title {
  @include titles-mobile;
  padding: 56px 0 0 0px;
}

.our-recent-post-section__items-wrapper {
  display: grid;
  padding: 24px 0 39px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "item-1"
    "item-2"
    "item-3"
    "item-4";

  .our-recent-post-section__item-1 {
    grid-area: item-1;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
  }

  .our-recent-post-section__item-2 {
    grid-area: item-2;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
  }

  .our-recent-post-section__item-3 {
    grid-area: item-3;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
  }

  .our-recent-post-section__item-4 {
    grid-area: item-4;
    display: flex;
    flex-direction: column;
  }

  .our-recent-post-section__info-wrapper {
    padding-top: 11px;

    .our-recent-post-section__item-title {
      color: $nav-title-color-one;
      font-weight: 700;
      font-size: 14px;
      margin: 0 auto;
    }

    .our-recent-post-section__item-info {
      color: $our-recent-posts-one;
      font-weight: 400;
      font-size: 11px;
    }

    .our-recent-post-section__item-text {
      display: none;
    }
  }

  @media screen and (min-width: 767px) {
    padding: 24px 0px 60px;

    .our-recent-post-section__item-1 {
      padding-bottom: 32px;
      flex-direction: row;
    }

    .our-recent-post-section__item-2 {
      padding-bottom: 32px;
      flex-direction: row;
    }

    .our-recent-post-section__item-3 {
      flex-direction: row;
      padding-bottom: 32px;
    }

    .our-recent-post-section__item-4 {
      flex-direction: row;
    }

    .our-recent-post-section__info-wrapper {
      padding-left: 20px;
      .our-recent-post-section__item-title {
        color: $nav-title-color-one;
        font-weight: 700;
        font-size: 16px;
        margin-top: 0;
        padding-top: 0px;
      }

      .our-recent-post-section__item-info {
        color: $our-recent-posts-one;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        padding: 0px auto;
      }

      .our-recent-post-section__item-text {
        display: block;
        color: $our-recent-posts-two;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  @media screen and (min-width: 1190px) {
    padding: 24px 0px 69px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-4";

    .our-recent-post-section__item-1 {
      padding-bottom: 32px;
    }

    .our-recent-post-section__item-2 {
      padding-bottom: 32px;
      padding-left: 25px;
    }

    .our-recent-post-section__item-4 {
      padding-left: 25px;
    }
  }
}
