// colors
$nav-title-color-one: rgba(78, 78, 78, 1);
$nav-hover: rgba(87, 164, 164, 1);
$burger-menu-background: rgba(245, 245, 245, 1);
$burger-menu-background-hover: rgba(229, 229, 229, 1);
$our-recent-posts-one: rgba(124, 124, 124, 1);
$our-recent-posts-two: rgba(92, 92, 92, 1);
$instagram-section-background:rgba(0, 0, 0, 0.04);
$footer-background-burger-color: rgba(0, 0, 0, 1);
$footer-title-burger-color: rgba(254, 254, 254, 1);
$footer-text-color: rgba(185, 185, 185, 1);