@import 'variables';
@import 'mixins';
@import 'header';
@import 'burger-menu';
@import 'our-recent-posts-section';
@import 'instagram-shots-section';
@import 'footer';

body {
    margin: 0 auto;   
    font-family: 'Roboto', sans-serif;
}